<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Test Cap
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>This is a TEST APP!!</strong>
    <p>Testing out Ionic, PWA & Capacitor stuff...</p>
    <p>Current platform: <strong>{{platform}}</strong></p>
    <p>17:14</p>

    <div style='margin-top:2rem'>
      <ion-button color="primary" (click)='locate()'>Locate me</ion-button>
      <p>Location is: {{gps.lastKnownLatitude}}, {{gps.lastKnownLongitude}}</p>
    </div>

    <div style='margin-top:2rem'>
      <ion-button color="primary" (click)='takePhoto()'>Take photo</ion-button>
      <br>
      <img [src]='photoPath | safeUrl' *ngIf='photoPath?.length > 0' style='width:400px; height:400px; object-fit: contain;'>
    </div>
  </div>
</ion-content>